{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set data_id = view.element['#name'] ~ '-' ~ fields.nid.content|striptags|trim ~ '-' ~ fields.fid.content|striptags|trim %}
{% set progressive_modern_gallery = options.progressive_modern_gallery %}
{%
  set class = [
    'images-box',
    fields.progressive_cms_user_access.content|striptags|trim == 'TRUE' ? 'contextual-links-region' : '',
    progressive_modern_gallery[data_id] is defined ? 'col-sm-' ~ progressive_modern_gallery[data_id] : 'col-sm-3',
    progressive_modern_gallery[data_id] is defined ? 'col-md-' ~ progressive_modern_gallery[data_id] : 'col-md-3',
  ]
%}

<div{{ create_attribute().addClass(class) }}">
  {% if fields.progressive_cms_user_access.content|striptags|trim == 'TRUE' %}
    <div class="contextual-links-wrapper contextual">
      <button class="trigger focusable" type="button" aria-pressed="false"></button>
      <div class="item-list">
        <ul class="contextual-links modern-gallery-action" data-id="{{ data_id }}">
          <li>
            <a href="#" data-id="1">1 {{ 'column'|t }}</a>
          </li>
          <li>
            <a href="#" data-id="2">2 {{ 'columns'|t }}</a>
          </li>
          <li>
            <a href="#" data-id="3">3 {{ 'columns'|t }}</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
  <a class="gallery-images" rel="fancybox" href="{{ fields.progressive_cms_image_url.content|striptags|trim }}">
    <img src="{{ fields.progressive_cms_image_url_1.content|striptags|trim }}" />
    <span class="bg-images"><i class="fa fa-search"></i></span>
  </a>
</div>
