{# Coming Soon #}

<div class="page-box">
  <header class="header header-three">
    <div class="container">
      <div class="row">
        <div class="logo-box col-sm-12 col-md-12">
          <div class="logo">
            <a href="{{ front_page }}">
              <img src="{{ logo_url }}" class="logo-img" alt="Logo">
            </a>
          </div>
        </div>
      </div><!--.row -->
    </div>
  </header><!-- .header -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="count-down-box col-sm-8 col-md-8">
          <div id="count-down" data-time="{{ count_down }}"></div>
        </div>
        <div class="coming-text col-sm-4 col-md-4">
          {{ coming_text }}
        </div>
      </div>
    </div><!-- .container -->
  </section><!-- #main -->
</div><!-- .page-box -->
<footer id="footer" class="footer-two">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="social col-sm-12 col-md-12">
          {{ social }}
        </div>
      </div>
    </div>
  </div><!-- .footer-top -->
</footer>
