{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'view-portfolio-columns',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  <div class="content portfolio">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        {% if view_tabs is defined %}
          <div class="btn-group filter-buttons filter-list">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
              {{ 'All items'|t }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" data-filter="*" class="active">{{ 'All items'|t }}</a>
              </li>
              {% for key, tab in view_tabs %}
                <li>
                  <a href="#" data-filter=".{{ key }}">{{ tab }}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="clearfix"></div>
          </div><!-- .filter-buttons -->
        {% endif %}
      </div>

      <div class="col-sm-6 col-md-4 year-regulator">
        <div class="label">{{ 'Year:'|t }}</div>
        <div class="layout-slider">
          <input id="filter" type="slider" name="year" value="2000;2013" class="form-control">
        </div>
      </div><!-- .price-regulator -->
    </div>

    <div class="row filter-elements">
      {{ rows }}
    </div>
  </div>
  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
