<div {{ attrs|raw }}>
  {{ img }}
  <h{{ h }}>
    <i class="fa fa-quote-left highlight"></i> {{ text }} <i class="fa fa-quote-right highlight"></i>
  </h{{ h }}>
  <p class="label label-primary">{{ author|raw }}</p>
</div>
