<div {{ attrs|raw }} data-appear-progress-animation="{{ percent }}%">
  <div class="progress-bar progress-bar-{{ color }}">
    {{ text }} <span class="progress-percent">{{ percent }}%</span>
  </div>
</div>
