<div {{ attrs|raw }}>

  <div class="title">
    <a href="{{ link }}">{{ title }}</a>
  </div>

  <div class="price-box">
    {% if livicon is not empty %}
      <div class="icon pull-right border {{ color }}">
        <span class="livicon" data-n="{{ livicon }}" data-s="{{ data_s }}" data-c="{{ icon_color }}" data-hc="0"></span>
      </div>
    {% endif %}
    {% if description is not empty %}
      <div class="description">{{ description }}</div>
    {% endif %}
    {% if price_top_text is not empty %}
      <div class="starting">{{ price_top_text }}</div>
    {% endif %}
    <div class="price">
      {{ price }}
      {% if price_text is not empty %}
        <span>{{ price_text }}</span>
      {% endif %}
    </div>
  </div>

  {% if pricing_table_rows is not empty %}
    <ul class="options">
      {{ pricing_table_rows|raw }}
    </ul>
  {% endif %}

  <div class="bottom-box">
    {% if read_more is not empty %}
      <a href="{{ read_more_link }}" class="more">
        {{ read_more }} <span class="fa fa-angle-right"></span>
      </a>
    {% endif %}
    {% if stars is not empty %}
      <div class="rating-box">
        <div style="width: {{ stars }}%" class="rating">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="73px" height="12px" viewBox="0 0 73 12" enable-fwb-bg="new 0 0 73 12" xml:space="preserve">
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5"></polygon>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 "></polygon>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 "></polygon>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 "></polygon>
            <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#1e1e1e" points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 "></polygon>
        </svg>
        </div>
      </div>
    {% endif %}
    {% if button is not empty %}
      <a href="{{ link }}" class="btn btn-lg {{ button_class }} clearfix">{{ button }}</a>
    {% endif %}
  </div>
</div>
